<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
        <%= title %>
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css" />
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <meta http-equiv="Access-Control-Allow-Credentials" content="true">
    <script src="/javascripts/_commentsScript.js"></script>
    <link rel="stylesheet" href="/bootstrap/dist/cover/cover.css" />
</head>

<body>

    <!-- Inicio do Header -->
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

        <header class="masthead mb-auto">

            <div class="inner">

                <h3 class="masthead-brand">Guilherme Victor
                    <br/> Borges Pereira</h3>
                <nav class="nav nav-masthead justify-content-center">

                    <a class="nav-link" href="/">Home</a>
                    <a class="nav-link active" href="/posts">Postagens</a>
                    <a class="nav-link" href="/contact">Contato</a>
                    <a class="nav-link" href="/sobre">Sobre Mim</a>
                    <a class="btn btn-sm btn-secondary btn-login text-link-personalizado" href="/login" style="color: white">Login</a>
                </nav>
            </div>
        </header>
        <!-- Fim do Header -->

        <!-- Postagem Inicio -->
        <div id="divAling" class="container">
            <div class="container" id="postagem">
                    <h1 id="tituloPost" class="w3-text-grey w3-padding-16"><%# doc.title %></h1>
                    <h5 class="w3-text-grey">por
                        <span class="w3-text-teal">"<%= doc.username %>"</span>
                    </h5>
                    <hr/>
                    <h6 class="w3-text-grey">Postado em <%# doc.date.dateDay %> de <%# doc.date.dateMonth %> de <%# doc.date.dateYear %></h6>
                    <hr/>
                    <img class="img-fluid img-thumbnail img-preenchimento" src="http://placehold.it/900x300"></img>
                    <hr/>
                    <p id="conteudoPost"></p>
                    <p><%# doc.body %></p>
                    <p><%# doc.body %></p>
                    <hr/>
                    <div class="container w-75 p-2" id="formulario">
                        <h3>Deixe um comentário:</h3>
                        <hr/>
                        <form class="form-group">
                            <div class="form-group">
                                <input class="form-control form-control-sm" id="nome" name="nome" type="text" placeholder="Digite seu nome.." />
                                <br/>
                                <textarea class="form-control form-control-sm" id="mensagem" rows="10" placeholder="Digite seu comentário.."></textarea>
                            </div>
                            <button class="btn btn-outline-info" type="button" onclick="formularios()" id="bEnviar">Enviar</button>
                            <input id="bReset" class="btn btn-outline-info" type="reset" name="limpar" value="Limpar" />
                        </form>
                    </div>
                    <hr/>
                </div>
            </div>
        </div>
        <!-- Postagem Fim -->

        <!-- Rodapé inicio -->
        <footer class="mastfoot mt-auto">

            <div class="inner">

                <p>
                    <span>&copy; 2018</span> - Blog. Todos os direitos reservados.</p>
            </div>
        </footer>
        <!-- Rodapé Fim -->

</body>

</html>