<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="UTF-8" />
	<title><%= title %></title>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="/stylesheets/estilo.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
	<meta http-equiv="Acess-Control-Allow-Origin" content="*" />
	<meta http-equiv="Acess-Control-Allow-Credentials" content="true" />
	<script src="/javascripts/_postsScript.js"></script>
	<script src="/bootstrap/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
</head>

<body class="container">
	<!-- Barra de Navegação Inicio -->
	<nav class="nav-sticky">
		<div class="nav nav-tabs" id="nav-tab" role="tablist">
			<a class="nav-item nav-link" id="nav-home-tab" data-toggle="tab" href="/" role="tab" aria-controls="nav-home"
			 aria-selected="false">Home</a>
			<a class="nav-item nav-link" id="myTab a" data-toggle="tab" href="/posts" role="tab"
			 aria-controls="nav-postagem" aria-selected="false">Postagem</a>
			<a class="nav-item nav-link active" id="nav-contact-tab" data-toggle="tab" href="/contact"
			 role="tab" aria-controls="nav-contact" aria-selected="true">Contato</a>
		</div>
	</nav>
	<!-- Barra de Navegação Fim -->

	<!-- Contato inicio -->
	<div class="container" id="contato">
		<h1 class="w3-text-grey w3-padding-16">Contato</h1>
		<hr/>
		<div class="container w-75 p-3">
			<form class="form-group">
				<div class="form-row">
					<div class="form-group col-md-6">
						<label for="uNome">Nome Completo</label>
						<input id="uNome" class="form-control form-control-sm" type="text" name="nome" value="" placeholder="Insira seu nome.." size="66">
					</div>
					<div class="form-group col-md-6">
						<label for="uEmail">Endereço de e-mail</label>
						<input id="uEmail" class="form-control form-control-sm" type="email" name="email" value="" placeholder="Insira seu e-mail.."
						 size="65.8">
					</div>
				</div>
				<div class="form-group">
					<label for="uTextArea">Insira sua mensagem</label>
					<textarea id="uTextArea" class="form-control" name="mensagem" rows="10" name="mensagem" placeholder="Digite sua mensagem aqui.."></textarea>
				</div>
				<button id="sPost" class="btn btn-outline-info" type="button" name="submit-post" onclick="postContato()" />Enviar</button>
				<input id="bReset" class="btn btn-outline-info" type="reset" name="limpar" value="Limpar" />
			</form>
		</div>
		<hr/>
	</div>
	<!-- Contato Fim -->

	<!-- Rodapé inicio -->
	<footer class="container">
		<br/>&copy; 2018 - Blog. Todos os direitos reservados.
	</footer>
	<!-- Rodapé Fim -->
</body>

</html>