<!DOCTYPE html>

<html lang="pt-br">

<head>

    <title>Blog - Home</title>
    <meta charset="UTF-8" />
    <meta name="author" value="Guilherme Victor Borges Pereira" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Acess-Control-Allow-Origin" content="*" />
    <meta http-equiv="Acess-Control-Allow-Credentials" content="true" />
    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="bootstrap/dist/cover/cover.css" />
</head>

<body class="text-center">

    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

        <header class="masthead mb-auto">

            <div class="inner">

                <h3 class="masthead-brand">Guilherme Victor
                    <br/> Borges Pereira</h3>
                <nav class="nav nav-masthead justify-content-center">

                    <a class="nav-link active" href="/">Home</a>
                    <a class="nav-link" href="/posts">Postagens</a>
                    <a class="nav-link" href="/contact">Contato</a>
                    <a class="nav-link" href="/sobre">Sobre Mim</a>
                    <a class="btn btn-sm btn-secondary btn-login text-link-personalizado" href="/login" style="color: white">Login</a>
                </nav>
            </div>
        </header>
        <main role="main" class="inner cover">

            <!--img id="img-perfil" src="images/perfil.png" alt="perfil" /-->
            <h1 class="cover-heading">BEM-VINDO AO MEU BLOG</h1>
            <p class="lead">Olá, Agradeço sua visita. Meu nome é
                <span>Guilherme Victor Borges Pereira</span> e eu desenvolvi este blog para mostar um pouco sobre meu trabalho
                de desenvolvedor Web.</p>
        </main>
        <footer class="mastfoot mt-auto">

            <div class="inner">

                <p>
                    <span>&copy; 2018</span> - Blog. Todos os direitos reservados.</p>
            </div>
        </footer>
    </div>
</body>

</html>